/* Grundstruktur für die Sidebar */
.sidebar-container {
    position: fixed;
    top: 0;
    left: -300px; /* Sidebar ist initial außerhalb des Bildschirms */
    width: 300px;
    height: 100%;
    background-color: rgb(224, 10, 10);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease; /* Ease-in und Ease-out Animation */
    z-index: 1000; /* Überdeckt alle Elemente */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar-container.active {
    left: 0; /* Wenn die Sidebar aktiv ist, wird sie in den Bildschirm geschoben */
  }
  
  /* Styling für den Button */
  .sidebar-container button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar-container button mat-icon {
    font-size: 24px;
    color: black;
  }
  
  /* Styling für das Bild in der Sidebar */
  .sidebar-container img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Liste in der Sidebar */
  .sidebar-container ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-container ul li {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .sidebar-container ul li:hover {
    color: orange; /* Orange auf Hover */
  }
  