@use '../../../variables' as *;

.button-container{


    button {
        background-color: $sixt-primary;
        color: white;
        font-size: 0.9rem;
        border: none;
        padding: auto;
        border-radius: $button-border-radius;
        cursor: pointer;
        transition: background-color 0.3s ease;


        .content-container {
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding: 0 10px;
        }

        .element {
            padding: 3px;
        }
    }

}
