mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  padding: 5px;
  left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
  max-width: 200px;
}

mat-icon {
  color: white;
}

mat-icon:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin: 0 2rem;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s ease;
}

a:hover::after,
a:focus::after {
  transform: translate3d(0, 0, 0);
}
