mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.logo-container button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
}

.logo-container mat-icon {
  color: white;
  transition: transform 0.3s ease;
}

.logo-container button:hover mat-icon {
  transform: scale(1.2);
}
.logo-container img {
  margin-left: 10px;
  max-height: 100%;
  height: auto;
  width: 100%;
  margin: 0;
  max-width: 150px;
}

.spacer {
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  background-color: white !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
  margin-right: 15px;
  border-radius: 0px;
}

.custom-button:hover {
  background-color: lightgray !important;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50px;


}

.icon {

  color: white;
  max-height: 100%;
  height: auto;

}

