$input-field-line-height: 40px;
$input-field-positive-validation-color: rgb(32, 165, 32);
$label-font-size: clamp(1em, 2vw + 1em, 2em);
$input-font-size: clamp(0.3em, 0.5vw + 0.53em, 1.2em);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.entryarea{
  position: relative;
  height: $input-field-line-height;
  line-height: $input-field-line-height;
}

input{
  position: absolute;
  width: 100%;
  outline: none;
  font-size: $input-font-size;
  padding: 0 30px;
  line-height: $input-field-line-height;
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline{
  position: absolute;
  font-size: $label-font-size;
  padding: 0 5px;
  margin: 0 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s ease;

}

input:focus,
input:invalid{
  color: $input-field-positive-validation-color;
  border: 4px solid $input-field-positive-validation-color

}

input:focus + .labelline,
input:invalid + .labelline{
  color: $input-field-positive-validation-color;
  height: 30px;
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}
