<div [formGroup]="form">

    @switch (question.controlType) {
      @case ('textbox') {
          <input  formControlName="{{question.key}}" [id]="question.key" [type]="question.type" required="{{question.required}}" placeholder="{{question.key}}">

      }
      @case ('dropdown') {




      }
      @case ('location') {
        <google-map [formControlName]="question.key" [id]="question.key"width="100%" height="400px"></google-map>

      }
      @case ('datetime') {

      }
    }

  @if (!isValid) {
    <div class="errorMessage">{{question.label}} is required</div>
  }
</div>
