@use '../../../../variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$input-field-line-height: 40px;
$input-field-line-height-multiline: 120px;
$input-field-positive-validation-color: rgb(32, 165, 32);
$label-font-size: clamp(1em, 2vw + 1em, 2em);
$input-font-size: clamp(0.4em, 0.65vw + 0.65em, 1.2em);


.category {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid black;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      padding: 10px;


    }


  .address-group{
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 10px;
    padding-right: 10px;
    row-gap: 5px;
    margin-bottom: 20px;

    .entryarea{
      margin-bottom: 7.5px;
    }

    .labelline{
      margin: 0 10px;
    }


  }

.datetime{
  display: grid;
  grid-template-columns: 60% 40%;
  padding-right: 5px;
  gap: 5px;
}

.entryarea{
  margin-bottom: 15px;
  position: relative;
  height: $input-field-line-height;
  line-height: $input-field-line-height;
  --input-width: 100%;
  width: var(--input-width);
}

.entryarea-multiline{
  margin-bottom: 15px;
  position: relative;
  height: $input-field-line-height-multiline;
  line-height: $input-field-line-height-multiline;
  width: var(--input-width);

  input{
    line-height: $input-field-line-height-multiline;

  }
}



input{
  position: absolute;
  width: 100%;
  outline: none;
  font-size: $input-font-size;
  line-height: $input-field-line-height;
  border-radius: 8px;
  border: 2px solid black;
  background: transparent;
  z-index: 1111;
  padding-left: 15px;

}

.wide{
  --input-width: 70%;
}
.narrow{
  --input-width: 30%;
}



.labelline{
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  padding: 0 0px;
  margin: 0 10px;
  background-color: white;
  transition: 0.2s ease;

  label{
    font-size: $input-font-size;
    color: black;
    white-space: nowrap;
    overflow: hidden;

  }
}

input:focus + .labelline,
input:invalid + .labelline{
  color: $input-field-positive-validation-color;
  border: 2px solid white;

}

input:focus + .labelline,
input:invalid + .labelline{
  color: $input-field-positive-validation-color;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;

}


select{
  width: 100%;
  margin: 0;
  padding: 0;
  height: $input-field-line-height;
  background-color: white;
  border-radius: $button-border-radius;
  border: 2px solid black;
  box-shadow: none;
  outline: none;

}



