<body>
  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>Erstmeldung eines Arbeitsbezogenen Unfalls</mat-card-title>
        <img mat-card-image src="/assets/SIXT_Logo_Pos_RGB.svg">
      </div>


    </mat-card-header>
    <mat-card-content>
      <div class="category">
        @for (category of dataModel(); track category.id ) {
        <label>{{ category.cat }}</label>

        @for (question of category.questions; track question.sys_id) {


            <div class="entryarea">
              <input type="text" required>
              <div class="labelline">
                <p>{{question.text}}</p>
              </div>
            </div>

        } }
      </div>
    </mat-card-content>

    <mat-card-actions
      ><button mat-flat-button>Submit</button></mat-card-actions
    >
  </mat-card>
</body>
