@use '../../../variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$input-field-line-height: 40px;
$input-field-positive-validation-color: rgb(32, 165, 32);
$label-font-size: clamp(1em, 2vw + 1em, 2em);
$input-font-size: clamp(0.3em, 0.5vw + 0.53em, 1.2em);

body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 650px;
    padding-bottom: 25px;

    mat-card-header{
      display: flex;

      .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 15px;
        padding-bottom: 25px;

        mat-card-title{
          font-size: clamp(0.8em, 1.3vw + 0.5em, 2em);
          font-weight: bold;
        }
        img{
          margin-left: auto;
          margin-right: 0;
          width: 75px;
          height: 75px;
        }
      }
    }

    mat-card-actions{

      display: flex;
      align-items: center;
      justify-content: center;

      button[mat-flat-button]{
        background-color: $sixt-primary;
        height: 42px;
        color: white;
        width: 90%;
        border-radius: $button-border-radius;
        padding-bottom: 20px;
        padding-top: 20px;
        transition: transform 0.3s ease-in-out;

      }

      button[mat-flat-button]:hover{
        transform: scale(1.05);
      }
    }
  }






