mat-card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; 
    
    .category {
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid black; 
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      padding: 20px; 
      
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: #333;
      }
  
      mat-form-field {
        width: 100%;
        margin-bottom: 15px;
  
        mat-label {
          font-size: 1rem;
          color: #555;
        }
  
        input {
          padding: 10px;
          font-size: 1rem;
          border-radius: 4px;
          border: 1px solid #ccc;
          transition: border-color 0.3s;
  
          &:focus {
            border-color: #3f51b5;  // Mat-Primary color for focused input
          }
        }
      }
    }
  }
  