<mat-card>
  <mat-card-content>
    
    @for (element of inputContent(); track element.id) {
        @for (contentItem of
    element.content; track contentItem.id) { 
        @if (contentItem.h1) {
            <h1>{{contentItem.h1}}</h1>
        }
        @if (contentItem.h2) {
            <h2>{{contentItem.h2}}</h2>
        }
        @if (contentItem.text) {
            <div class="text-container">
                <p class="text">{{contentItem.text}}</p>
            </div>
        }
        @if (contentItem.smalltext) {
            <div class="small-text-container">
                <p class="smalltext">{{contentItem.smalltext}}</p>
            </div>
        }
    } }
  </mat-card-content> </mat-card
>>
