mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #ff5f00;
    padding: 16px;
    border-radius: 0px;
  
    mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .spacer{
        width: 100%; 
        box-sizing: border-box;
        background-color: white;
        height: 15px;
      }
  
      h1, h2, p {
        margin: 8px 0; 
      }
  
      .text-container {
        .text {
          font-size: 1.2rem; 
        }
      }
  
      .small-text-container {
        .smalltext {
          font-size: 0.8rem; 
          margin-top: 8px;
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    mat-card-content {
      h1 {
        font-size: 1.5rem; 
      }
  
      h2 {
        font-size: 1.2rem;
      }
  
      .text {
        font-size: 1rem;
      }
  
      .smalltext {
        font-size: 0.7rem;
    }
  }
}