@use '../../../variables' as *;
.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    app-header {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    app-search-component {
        margin-top: 20px;
        z-index: 2;
    }
}

.custom-sidenav {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); // Schatten rechts

    // Leerer Raum links
    padding-left: 250px;

    .close-button {
      font-size: 24px;
      background: none;
      border: none;
      padding: 16px 16px 16px 0; // Abstand zur linken Seite entfernen
      text-align: left;
      font-weight: bold;
    }

    .sidenav-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 20px; // Abstand zwischen den Links
      }

      a {
        font-family: Arial, sans-serif;
        font-size: 24px;
        color: black; // Standardfarbe der Links
        text-decoration: none;
        padding-left: 20px;
        display: block;

        &:hover {
          color: $sixt-primary; // Hover-Farbe
        }

        &:nth-child(2) {
          color: $sixt-primary; // Zweiter Link ("Share") ist standardmäßig orange
          font-weight: bold;
        }
      }
    }
  }

