.testcontainer{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: red;
}

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    app-header {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    app-search-component {
        margin-top: 20px;
        z-index: 2;
    }
}
