@use '../../../variables' as *;

mat-sidenav-container{



  mat-sidenav {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 200px, 300px);
    background-color: white;
    .sidenav-wrapper{

      button[mat-icon-button]{
        background-color: transparent;
        color: black;
        border: none;
        cursor: pointer;
      }

      button:hover{
        transform: scale(1.1);

      }

    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 3em;
    }

    li {
      margin: 0 2em;

      padding-top: 1em;

      a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size:  1.2rem;
      }

      a:hover{
        color: $sixt-primary;
      }
    }
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;

    .content-wrapper{
      display: flex;
      flex-direction: column;
      background-image: url("../../../../public/porsche2.jpg");
      width: 100%;
      background-size: cover;
      min-height: 400px;

      app-search-component{
        align-self: center;
        justify-self: center;
      }
    }

  }

}
