.hero-container{

    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    background-color: gray;

    .background-image{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    mat-card{

        border-radius: 5px;
        width: 840px;
        height: 180px;
        justify-content: center;
        align-items: center;
        mat-card-content{

            button{
                margin-left: 5px;
                height: 50px;
                width: 150px;
                background-color: orangered;
                border-radius: 20px;

            }

        }
    }
}