@use '../../../styles.scss' as *;

mat-card {

    border-radius: 5px;
    width: 840px;
    height: 180px;
    justify-content: center;
    align-items: center;

    mat-card-content {

        button {
            margin-left: 5px;
            height: 50px;
            width: 150px;
            background-color: $sixt-primary;
            padding: $button-padding;
            border-radius: $button-border-radius;
        }

    }
}