

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



mat-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 650px;
    padding-bottom: 25px;}

      .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 15px;
        padding-bottom: 25px;}

        mat-card-title{
          font-size: clamp(0.8em, 1.3vw + 0.5em, 2em);
          font-weight: bold;
        }
        img{
          margin-left: auto;
          margin-right: 0;
          width: 75px;
          height: 75px;
        }



      form{
        width: 100%;
      }


    mat-card-actions{

      display: flex;
      align-items: center;
      justify-content: center;}

      button[mat-flat-button]{
        background-color: olivedrab;
        height: 42px;
        color: white;
        width: 90%;
        border-radius: 8px;
        padding-bottom: 20px;
        padding-top: 20px;
        transition: transform 0.3s ease-in-out;

      }

      button[mat-flat-button]:hover{
        transform: scale(1.05);
      }













